.card-container {
    // TODO add flex box related code here
    // TODO make sure there is space on the right/left and top so that cards are not
   // touching sides of
    // screen and navigation bar
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    column-gap: 20px;
    flex-flow: row wrap;
    border: 5px;
    padding-bottom: 50px;
    margin-top: 50px;
    }
    .card {
    // TODO add a border around each card with a border-radius of at least 20px
    min-width: 400px;
    min-height: 400px;
    flex-grow: 1;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    // the following code is to make sure that we can align the image in the center
    // align-self needs to be within a container that has display: flex
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    cursor: pointer;
    h1, p {
    
    margin-top: 12px;
    margin-left: 10px;
    }
    img {
    width: 350px;
    align-self: center;
    }
    }