.container {
    padding: 12px;
    display: flex;
    background: lightseagreen;
    color: white;
    border-bottom: 3px solid rgba(0,0,0, 0.1);
}

h1 {
    font-size: 36px;
    margin-top: 5px;
    display: inline;
}
img{
    width: 120px;
    height: 50px;
}

search-bar {
    flex-grow: 4;
}